@font-face {
    font-family: "Google-Regular";
	src: url("fonts/google-regular.woff2");
}

@font-face {
    font-family: "Google-Bold";
	src: url("fonts/google-bold.woff2");
}

body {
    background-image: url('../img/blue-nebula.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.carousel {
    height: 340px;
    background-image: linear-gradient(to top, rgb(100, 100, 100, 0.6), rgb(255, 255, 255, 0.6));
    border-bottom: solid 1px #333;
    font-family: Google-Bold;
}

h5 {
    text-align: center;
    padding-bottom: 200px;
    color: white;
}

iframe {
    height: 450px;
    width: 780px;
    padding: 10px 10px 10px 10px;
    border: none;
}


::-webkit-scrollbar {
    width: 0px;
    opacity: 0;
}